<header class="header">
  <div class="header__left">
    <a href="/" class="no-uline">
      <i class="fas fa-home fa-2x"></i>
    </a>
  </div>
  <div class="header__right">
    <nav class="header__navigation">
      <a href="/about" class="no-uline">About</a>
      <a href="/resume" rel="noopener nofollow" class="no-uline">Résumé</a>
      <a href="/projects" class="no-uline">Projects</a>
      <a href="/post/" class="no-uline">Blog</a>
      <a href="#" class="no-uline">Contact</a>
      <a class="no-uline" id="themeToggle"><i class="fas fa-lightbulb"></i></a>
    </nav>
  </div>
</header>
