{{ define "main" }}

<div class="portfolio">

  <div class="portfolio__intro">

    <div class="centered">
      <h1>I am {{ .Site.Params.name }}, <br>{{ .Site.Params.subtitle }}</h1>
      <section class="wrapper">  
          <h2 class="sentence">I like
            <div class="slidingVertical">
              <span style="color: red;">pizza.</span>
              <span style="color: green;">pasta.</span>
              <span style="color: blue;">tomatoes.</span>
              <span style="color: teal;">sushi.</span>
              <span style="color: purple;">and other stuff.</span>
            </div>
          </h2>
        </section>

        <div class="portfolio__links">
            <h6> <a rel="noopener" class="no-uline no-col" href="#">My projects.</a> </h6>
            <h6> <a rel="noopener" class="no-uline no-col" href="#">My resume.</a> </h6>        
        </div>
    </div>
    
  </div>

  <div>
    <a href="mailto:{{ .Site.Social.email }}" rel="noopener" class="no-uline no-col"> <i class="fas fa-envelope fa-fw fa-2x"></i> </a>
    <a href="{{ .Site.Social.twitter }}" rel="noopener" class="no-uline no-col"> <i class="fab fa-twitter fa-fw fa-2x"></i> </a>
    <a href="{{ .Site.Social.github }}" rel="noopener" class="no-uline no-col"> <i class="fab fa-github fa-fw fa-2x"></i> </a>
    <a href="{{ .Site.Social.linkedin }}" rel="noopener" class="no-uline no-col"> <i class="fab fa-linkedin fa-fw fa-2x"></i> </a>
  </div>

</div>

{{ end }}
