{{ define "main" }}
<div class="centered-text">

  <div class="portfolio">

    <div class="portfolio__intro">

      <h1>{{ .Site.Params.name }}</h1>
      <h4>{{ .Site.Params.subtitle }}</h4>
      Machine Learning, Game Development, Computer Graphics, Web Development, Linux
      <!-- <section class="wrapper">  
        <h4 class="sentence">
          <div class="slidingVertical">
            <span style="color: red;">AI</span>
            <span style="color: green;">game development</span>
            <span style="color: blue;">coffee</span>
            <span style="color: teal;">Linux</span>
            <span style="color: purple;">web development</span>
          </div>
        </h4>
      </section> -->

      <div class="portfolio__links">
        <!-- <h6> <a rel="noopener" class="no-uline no-col" href="/about/">Read more about me</a> </h6> -->
        <h6> <a rel="noopener" class="no-uline no-col" href="/resume/">My résumé</a> </h6>
        <h6> <a rel="noopener" class="no-uline no-col" href="/projects/">My projects</a> </h6>
      </div>

    </div>

    <div>
      <a href="/contact/" rel="noopener" class="no-uline no-col"> <i class="fas fa-envelope fa-fw fa-2x"></i> </a>
      <a href="{{ .Site.Social.github }}" rel="noopener" class="no-uline no-col"> <i
          class="fab fa-github fa-fw fa-2x"></i> </a>
      <a href="{{ .Site.Social.linkedin }}" rel="noopener" class="no-uline no-col"> <i
          class="fab fa-linkedin fa-fw fa-2x"></i> </a>
    </div>

  </div>

</div>

{{ end }}