{{ define "main" }}

<div class="portfolio">

  <div class="portfolio__intro">
    <h1>I am Svetlozar Georgiev, <br>an undergraduate software engineer.</h1>
    <h5 class="light-type">I like....</h5>
  </div>

  <div>
    <a href="{{ .Site.Social.twitter }}" rel="noopener" class="no-uline"> <i class="fab fa-twitter fa-fw fa-2x"></i> </a>
    <a href="{{ .Site.Social.github }}" rel="noopener" class="no-uline"> <i class="fab fa-github fa-fw fa-2x"></i> </a>
    <a href="{{ .Site.Social.linkedin }}" rel="noopener" class="no-uline"> <i class="fab fa-linkedin fa-fw fa-2x"></i> </a>
    <a href="mailto:{{ .Site.Social.email }}" rel="noopener" class="no-uline"> <i class="fas fa-envelope-open fa-fw fa-2x"></i> </a>
  </div>

</div>

{{ end }}
